#cardsContainer {
    min-width: 20rem;
    height: 20rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 1rem;
}

#otherCardsContainer{
    min-width: 20rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 1px 1px 10px gray;
    display: flex;
}
.strikePrice {
    position: relative;
    font-size: 18px;
    padding: 10px;
}
.strikePrice::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 1px;
    height: 5rem;
    background: linear-gradient(to bottom, red, red); /* Adjust the color as needed */
    transform: rotate(-80deg);
  
}