#cardsContainer {
    min-width: 20rem;
    height: 20rem;
    background-color: #fff;
    box-shadow: 7px 6px 21px 1px #d8dce3;
    border-radius: 10px;
    padding: 1rem;
}

#otherCardsContainer{
    min-width: 20rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow:7px 9px 10px #d8dce3;
    display: flex;
}
.strikePrice {
    position: relative;
    font-size: 18px;
    padding: 10px;
}
.strikePrice::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 1px;
    height: 5rem;
    background: linear-gradient(to bottom, red, red); /* Adjust the color as needed */
    transform: rotate(-80deg);
  
}